
{{#if primary_tag}}
{{#primary_tag}}
      <p>
        <a href="{{url}}">
          {{#if accent_color}} 
          <span class="tag-accent-color small" style="background-color: {{accent_color}};"></span>
          {{else}}
          <span class="tag-accent-color small"></span>{{name}}
          {{/if}}
          <span class="text-base text-white hover:underline">{{name}}</span>
        </a>
      </p>
{{/primary_tag}}
{{/if}}