  <div class="w-full flex flex-row justify-begin items-center fixed index-navbar">
    <header class="flex flex-row py-2 flex-wrap w-full">
      {{#if @site.logo}}
      <div class="w-12 h-12">
        <img src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" class="w-full h-full object-contain">
      </div>
      {{/if}}
      <div class="flex flex-col pl-4 flex-grow">
        <div class="">
         <a href="{{@site.url}}">
          <h1 class="text-lg text-white">{{@site.title}}</h1>
         </a>
        </div>
        <div class="">
          <p class="text-sm text-white">{{@site.description}}</p>
        </div>
      </div>
      <div id="menushow" class="cursor-pointer relative">
        <img src="{{asset "images/menu.svg"}}" class="h-12 px-3 py-3 text-white md:hidden" style="filter: invert(1);" alt="menu"/>
        {{navigation}}
      </div>
    </header>
  </div>
