<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />

  <link rel="preload" as="style" href="{{asset "built/styles.css"}}" />
  <link rel="preload" 
      href="https://fonts.googleapis.com/css?family=Exo+2:300,400,500&display=swap"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'; document.body.classList.add('fontLoaded')">
  <link rel="preload" 
      href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
      as="style"
      onload="this.onload=null; this.rel='stylesheet'; document.body.classList.add('fontLoaded')">

  <link rel="stylesheet" type="text/css" href="{{asset "built/styles.css"}}" />

  {{ghost_head}}
</head>

<body class="{{body_class}}">
  {{> "site-header"}}
  <div>
    {{{body}}}
  </div>	

  <script async defer src="{{asset "built/yuika.js"}}"></script>
  {{{block "scripts"}}}

  {{ghost_foot}}
</body>

</html>
